@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url(./fontello.css);
@import url(./normalize.css);

/* 숨김 콘텐츠 */
.a11y-hidden,
legend {
    background-color: red;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    visibility: hidden;
    clip: rect(0, 0, 0, 0);
    /* clip-path: polygon(0 0, 0 0, 0 0); */
    clip-path: inset(50%);
}

/* 스타일 초기화 */
a {
    text-decoration: none;
    color: inherit;
}

/* 
a:hover {
    color: blue;
}

a:focus {
    color: green;
} */

html {
    /* 기본은 16이지만 rem사용 편의를 위해 10으로 설정 */
    font-size: 10px;
}

body {
    font-family: 'Spoqa Han Sans', 'sans-serif';
    font-weight: 400;
    background-color: #fff;
    color: #181818;
    font-size: 1.4rem;
    /* 14px */
}


/* *로 하는 것보다 성능이 개선된다. body안에 포함되어 있는 모든 요소 (head안에 선택은 안할 것이다.) before, after 이유는 혹시 모를 상황 즉, container와 body 사이의 공간에 무언가 내용이 들어가는 상황을 위한 것이다.*/
body *,
body *::before,
body *::after {
    box-sizing: border-box;
}

/* 다른 방법(클래스가 있는 것만 바꾸기
[class] {
    box-sizing: border-box;
} */

/* 레이아웃 */
.container {
    background-color: #cccccc;
    background-image: url(./images/bg_flower.png), linear-gradient(180deg, #eee 0%, #fefefe 30%, #fff 60%, #fff 100%);
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.header,
.visual,
.main,
.slogan,
.footer-inner {
    width: 940px;
    margin: 0 auto;
}

/* 헤더 */
.header {
    background-color: #fff;
    /* logo의 기준을 정해줌 */
    position: relative;

    border-radius: 0 0 15px 15px;
    padding: 0 30px;
}

/* 로고 */
.logo {
    position: absolute;
    margin-top: 0;
    /* h1은 자동으로 여백이 들어가있어서 초기화 */
    margin-bottom: 0;
    top: 45px;
    left: 65px;
    z-index: 10;
}

.logo a {
    display: block;
}

.logo img {
    vertical-align: middle;
}

/* 안내 링크 */
.member {
    margin: 0;
    padding-left: 0;
    list-style: none;
    color: red;
    font-size: 0;
    /* 이 것을 상속 시켜줌으로써 <span> 사이의 공백을 없애준다. */
    text-align: right;
    padding-top: 2px;
    /* 왜 a태그에 8px 주고 여기에 2px 줬나? Outline 때문! */
    padding-bottom: 2px;

    /* UI 착시효과 만들기 */
    position: relative;
    left: 10px;
}

.member li {
    /* background-color: yellow; */
    display: inline-block;
    font-size: 14px;
}

.member a {
    display: inline-block;
    /* padding-top: 8px;
    padding-bottom: 8px; a태그의 범위를 넓혀줌(사용성 증가) */
    padding: 8px 10px;
    text-transform: uppercase;
}

.navigation {
    padding-bottom: 40px;
}

.menu {
    background-color: orange;
    /* background-image: linear-gradient(to bottom, orangered 0%, orange 35%, orange 70%, orangered 100%); */
    /*generator 툴 사용하지 않았을 때*/
    background: #ff4500;
    /* gradient적용되지 않을 때 */
    background: linear-gradient(to bottom, #ff4500 0%, #ffa500 45%, #ffa500 60%, #ff4500 100%);
    padding-left: 225px;
    margin: 0;
    list-style: none;
    box-shadow: 0 -2px 0 0 #000;
    /* border를 넣지 않고 그림자를 사용 */
    /* border-top: 2px solid #000; */

    border-radius: 0 0 5px 5px;
    height: 45px;

    position: relative;
}

.menu :focus {
    outline: 0;
}

.menu-item {
    position: relative;
    float: left;
    border-left: 2px solid #fff;
}

.menu-button {
    display: block;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 0 20px;
    line-height: 45px;
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
}

.menu-act .menu-button {
    color: #ff0;
}

/* menu에 검은 줄 */
.menu-act .menu-button::after {
    content: "";
    display: block;
    border-top: 2px solid #000;
}

.sub-menu {
    padding-left: 0;
    margin: 0;
    list-style: none;
    display: none;
    position: absolute;
    top: 47px;
    /* width: 500px; */
    white-space: nowrap;
}

.sub-menu li,
.sub-menu a {
    display: inline-block;
}

.sub-menu a {
    padding: 10px 10px 10px 0;
}

.sub-menu1,
.sub-menu2,
.sub-menu3 {
    left: 0;
}


.sub-menu4,
.sub-menu5,
.sub-menu6 {
    right: 0;
}

.sub-menu1 {
    display: block;
}

/* 비주얼 */
@keyframes textAni {
    0% {
        font-size: 12px;
        color: rgba(0, 0, 0, 0);
        /* margin, padding시도해봄 */
        /* top: 0;
        left: 0; */
        transform: translate(0, 0);
    }

    100% {
        font-size: 24px;
        color: rgba(0, 0, 0, 1);
        /* top: 75px;
        left: 400px; */
        transform: translate(400px, 75px);
        /* reflow가 적게 일어나서 성능이 좋다. */
    }
}

@keyframes flowerAni {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.visual {
    /* background-color: lime; */
    height: 120px;
    /* 크기가 변할 가능성이 없는 것은 높이를 고정시키자.*/
    position: relative;
}

.visual::before,
.visual::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    /*     
    animation-name: flowerAni;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
    animation: flowerAni 2s infinite alternate 1s;
}

.visual::before {
    background-image: url(./images/ani_flower_01.png), url(./images/ani_flower_02.png);
    background-position: 0 -10px, 670px 0;
    /* background: url(./images/ani_flower_01.png) no-repeat 0 -10px, pink url(./images/ani_flower_02.png) no-repeat 670px 0; */
}

.visual::after {
    background-image: url(./images/ani_flower_03.png), url(./images/ani_flower_04.png);
    background-position: 300px 10px, 800px 5px;
    animation-delay: 1s;
}

.visual-text {
    /* position: absolute; */
    position: relative;
    z-index: 10;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* background-color: yellow; */
    margin: 0;
    /* <p>태그에 기본적으로 들어가는 1em의 위아래 margin을 제거 */
    animation-name: textAni;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    /* width: 500px; */
    /* 1번째 방법 */
    display: inline-block;
    /* 2번째 방법 */
    /* float:left; */
}

/* 메인 콘텐츠 */


.main {
    background-color: white;
    display: flow-root;
    padding: 30px 15px;
    min-height: 450px;
    border-radius: 15px 15px 0 0;
    /* padding: 30px;  
    display: flex; flex로 하는 방법
    justify-content: space-between; */
    /* overflow: hidden; */
}

.group {
    /* height: 60vh; */
    float: left;
    margin: 0 15px;
}

.main::after {
    content: "";
    clear: both;
    display: block;
}

.group1 {
    width: 250px;
    /* float: right; */
}

.group2 {
    width: 380px;
}

.group3 {
    width: 190px;
}

/* 로그인 폼 */
.login {
    border-radius: 5px;
    padding: 15px 10px 10px 10px;
    box-shadow: 5px 5px 0 0 #ccc;
    background: #e29c2b radial-gradient(circle at right top, #e29c2b, #e25a2d);
    /* 앞에꺼는 gradient 안먹힐 때를 대비 */
}

.login-heading {
    margin: 0;
    color: #ff0;
    font-size: 1.5rem;
    font-weight: 700;
    text-indent: 10px;
}

.login-form {
    margin-top: 10px;
    background-color: #fff;
    border-radius: 5px 5px 0 0;
    padding: 10px 10px 0 10px;
}

.login-form fieldset {
    border: 0 none;
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding: 0;
    position: relative;
    padding-bottom: 10px;
}

.login-form label {
    display: inline-block;
    font-size: 1.2rem;
    width: 4em;
    vertical-align: middle;
    cursor: pointer;
}

.login-form input {
    border: 1px solid #ccc;
    padding: 2px 2px 2px 5px;
    width: 95px;
    font-size: 1.2rem;
}

.user-pwd {
    margin-top: 5px;
}

.btn-login {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 44px;
    padding: 2px 5px;
    border: 0;
    background: #e25a2d;
    color: #fff;
    font-size: 1.3rem;
    border-radius: 3px;

}


.sign {
    background-color: #fff;
    margin: 0;
    padding-left: 0;
    list-style: none;
    padding: 10px 10px 10px 10px;
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: space-between;
}

.sign a {
    /* letter-spacing: -1px; 이런 방법도 있다~!*/
    font-size: 1.2rem;
}

.sign .icon-right-open::before {
    color: #e25a2d;
}

/* 유효성 배너 검사 */
.validation-list {
    margin: 25px 0 0 0;
    padding-left: 0;
    list-style: none;
}

.validation-list a {
    display: block;
    border: 1px solid #aaa;
    margin-top: 10px;
    border-radius: 25px;
    padding: 7px 10px 5px 45px;
    background: url(images/validation_icon.png) no-repeat 20px 50%, #ccc linear-gradient(180deg, #ccc, #eee);
}

/* 웹 관련 용어 */

.term {
    background: #ccc linear-gradient(180deg, #ccc, #eee);
    margin-top: 20px;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 15px 15px;
}

.term-heading {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

.term-list {
    margin: 10px 0 0 0;
    display: flow-root;
    /* display: flex;
    flex-direction: column; */
}

/* .term .odd, .term .even {
    display: flow-root;
} */

.term-list-subject:nth-child(even) {
    float: left;
}

.term-list-subject:not(:first-child),
.term-list-subject:not(:first-child)+.term-list-thumbnail:not(:first-child) {
    margin-top: 10px;
}

.term-list-subject:nth-child(even)+.term-list-thumbnail+.term-list-brief {
    /* background-color: beige; */
    float: left;
}

.term-list-subject:nth-child(even)+.term-list-thumbnail {
    float: right;
}

/* 
.term .even .term-list-subject,
.term .even .term-list-brief {
    float: left;
} */

.term-list-subject {
    float: right;
    width: 145px;
    color: #296897;
}

.term-list-thumbnail {
    float: left;
    margin-bottom: 0;
    margin-left: 0;
}


.term-list-thumbnail img {
    display: block;
    /* 이미지 아래에 빈 공간이 있다. <span>에서 아래에 빈공간 살짝 있는 것 과 같은 원리. 따라서 img를 block으로 만들어줘서 아래 공간을 없애줌. */
}

.term-list-brief {
    float: right;
    width: 145px;
    margin-left: 0;
    margin-top: 5px;
    line-height: 1.5;
}


/* .term {
    background: silver linear-gradient(180deg, #ccc, #eee);
    border-radius: 10px;
    margin-top: 20px;
    border-top: 1px solid transparent;
    padding: 15px 15px 3px 15px;
    border: 1px solid #ccc;
}

.term-heading {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
}

.term-list {

}

.term-list div {
    display: flow-root;
}

.term-list dd {
    margin-left: 0;
}

.term-list-subject {
    width: 145px;
    float: right;
    color: blue;
    font-weight: 500;
    font-size: 1.4rem;
}

.term-list-brief {
    float: right;
    width: 145px;
    padding-top: 10px;
    font-size: 1.4rem;
    line-height: 1.5;
}

.term-list-thumbnail {
    float: left;
} */


/* 검색 폼 */
.search-form {
    background: #ccc linear-gradient(180deg, #ccc, #eee);
    border: 1px solid #aaa;
    border-bottom-color: #fff;
    border-radius: 15px 15px 0 0;
    padding: 15px 25px 10px;
}

.search-form fieldset {
    margin: 0;
    border: 0;
    padding: 0;
}

.search-form-container {
    display: flex;
    justify-content: space-between;
}

.search-form label {
    cursor: pointer;
}

[name="search"] {
    /* 속성 선택자도 써보자~ */
    width: 200px;
    height: 24px;
    border: 1px solid #aaa;
    border-radius: 2px;
    padding: 2px 2px 2px 5px;
}

.btn-search {
    background-color: #222;
    color: #fff;
    border: 0;
    padding: 0 10px;
    border-radius: 3px;
    font-size: 1.3rem;
}


/* .search-form {
    background: #ccc linear-gradient(180deg, #ccc, #eee);
    border-radius: 15px 15px 0 0;
    border: 1px solid gray;
    border-bottom: none;
    padding: 10px;
}

.search-form fieldset {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0 none;
}

.search-input label,
.search-input input {
    margin-right: 10px;
}

.search-input input {
    max-width: 150px;
}

.btn-search {
    background-color: black;
    color: white;
    padding: 4px;
    vertical-align: middle;
} */



/* 공지사항 및 자료실 */
.board {
    margin-top: 20px;
    position: relative;
    padding-top: 40px;
    min-height: 170px;
    /* overflow: hidden; */
    /* height: 200px; */
}

.notice-list,
.pds-list,
.notice-more,
.pds-more {
    display: none;
}

.tab-act .notice-list,
.tab-act .pds-list,
.tab-act .notice-more,
.tab-act .pds-more {
    display: block;
}

.tab {
    position: absolute;
    top: 0;
    font-size: 1em;
    font-weight: 400;
    margin: 0;
}

.tab a {
    display: block;
    border: 1px solid #aaa;
    border-radius: 5px 5px 0 0;
    color: #999;
    background: #ccc linear-gradient(180deg, #ccc, #eee);
    padding: 8px 15px 7px;
}

.tab-act .tab a {
    background: #fff;
    border-color: #e25a2d #e25a2d #fff #e25a2d;
    color: #e25a2d;
}

.notice-heading {
    left: 0;
}

.pds-heading {
    left: 82px;
}

.notice-list,
.pds-list {
    /* position: absolute;
    top: 45px;
    right: 0; */
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.notice-list li,
.pds-list li {
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
}

.notice-list li a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* icon-dot-circled를 a에 주지 않고 li에 주면 아래와 같이 해결 가능 */
/* .notice-list a,
.pds-list a {
    display: flex;
    flex: 1 1 0; // grow shrink basis
} */

.notice-more,
.pds-more {
    position: absolute;

    /* 사용성을 위한 트릭 */
    top: 0px;
    right: -8px;
    padding: 8px;
}

.icon-plus {
    color: hsla(110, 50%, 30%, 1);
}


/* .board {
    margin-top: 20px;
    position: relative;
}

.notice-list, .pds-list, .notice-more, .pds-more {
    display: none;
}

.tab-act .notice-list, .tab-act .notice-more{
    display: block;
}

.tab {
    margin: 0;
    font-size: 1.6rem;
    padding: 10px;
}

.board h2 {
    border: 1px solid black;
    border-radius: 8px 8px 0 0;
    padding: 10px 10px 5px 10px;
    font-weight: 400;
}
.board .tab-act h2 {
    border-color: red;
    border-bottom: none;
    color: red;
}

.pds-heading {
    background: #ccc linear-gradient(180deg, #ccc, #eee);
}

.notice-heading{
    position: absolute;
    top: 0;
    left: 0;
}

.pds-heading{
    position: absolute;
    top: 0;
    left: 82px;
}

.notice-list, .pds-list {
    position: absolute;
    top: 50px;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 50px;
}

.notice-list li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.notice-list li a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.notice-more {
    position: absolute;
    right: 0;
    top: 0;
}

.icon-plus {
    color: green;
} */


/* 새소식 */

.news {
    margin-top: 20px;
    position: relative;
}

.news::before {
    content: "";
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #ccc linear-gradient(90deg, #999, #eee);
}

.news-heading {
    color: #e25a2d;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

.news-item {
    margin-top: 35px;
    padding-left: 130px;
    position: relative;
}

.news-item-heading {
    font-weight: 700;
    margin: 0;
}

.news-item-date {
    display: block;
    margin-top: 5px;
}

.news-item-brief {
    line-height: 1.5;
    margin: 10px 0 0 0;
}

.news-item-thumbnail {
    margin: 0;
    position: absolute;
    top: 2px;
    left: 0;
    text-align: center;
}

.news-item-thumbnail img {
    margin-bottom: 15px;
    box-shadow: 0 15px 20px 0px rgba(0, 0, 0, 0.3);
}

.news-more {
    position: absolute;
    padding: 8px;
    top: -8px;
    right: -8px;
}

/* 
.news {
    margin-top: 20px;
    position: relative;
}

.news-heading {
    color: #e25a2d;
    font-weight: 700;
    font-size: 1.8rem;
    margin: 0;
}

.news-more {
    position: absolute;
    top: -8px;
    right: -8px;
    padding: 8px;
}

.news-item {
    display: flow-root;
    padding-top: 20px;
}

.news-heading::after {
    content: '';
    margin-top: 20px;
    display: block;
    height: 2px;
    background: #000 linear-gradient(90deg, #999, #eee);
}

.news-item-date {
    float: right;
    width: 250px;
    margin: 0 0 15px 0;
    font-weight: 500;

}

.news-item-heading {
    float: right;
    width: 250px;
    padding: 0;
    margin: 0 0 3px 0;
}

.news-item-brief {
    float: right;
    width: 250px;
    margin: 0;
    line-height: 1.4;
}

.news-item-thumbnail {
    position: absolute;
    background-color: white;
    margin: 0 0 17px 0;
    text-align: center;
}

.news-item-thumbnail img {
    box-shadow: 0 5px 10px #000;
}

#newsThumbnail {
    padding-top: 10px;
    font-weight: 500;
} */

.slogan {
    background-color: purple;
    height: 10vh;
}

.footer {
    background-color: tomato;
}

.footer-inner {
    background-color: gray;
    height: 10vh;
}