@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url(./normalize.css);

/* 
* {
    box-sizing: border-box;
} */

html {
    /* 기본은 16이지만 rem사용 편의를 위해 10으로 설정 */
    font-size: 10px;
}

body {
    font-family: 'Spoqa Han Sans', 'sans-serif';
    font-weight: 400;
    background-color: #fff;
    color: #181818;
    font-size: 1.4rem;
    /* 14px */
}


/* *로 하는 것보다 성능이 개선된다. body안에 포함되어 있는 모든 요소 (head안에 선택은 안할 것이다.) before, after 이유는 혹시 모를 상황 즉, container와 body 사이의 공간에 무언가 내용이 들어가는 상황을 위한 것이다.*/
body *,
body *::before,
body *::after {
    box-sizing: border-box;

}

/* 다른 방법(클래스가 있는 것만 바꾸기
[class] {
    box-sizing: border-box;
} */

/* 레이아웃 */
.container {
    background-color: silver;
}

.header,
.visual,
.main,
.slogan,
.footer-inner {
    width: 940px;
    margin: 0 auto;
}

.header {
    background-color: yellow;
    height: 10vh;
}

.visual {
    background-color: lime;
    height: 10vh;
}

.main {
    background-color: blue;
    display: flow-root;
    padding: 30px 15px;
    /* padding: 30px;  
    display: flex; flex로 하는 방법
    justify-content: space-between; */
    /* overflow: hidden; */
}

.group {
    height: 60vh;
    float: left;
    margin: 0 15px;
}

.main::after {
    content: "";
    clear: both;
    display: block;
}

.group1 {
    background-color: pink;
    width: 250px;
    float: right;
}

.group2 {
    background-color: skyblue;
    width: 380px;
}

.group3 {
    background-color: orange;
    width: 190px;
}

.slogan {
    background-color: purple;
    height: 10vh;
}

.footer {
    background-color: tomato;
}

.footer-inner {
    background-color: gray;
    height: 10vh;
}