@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url(./fontello.css);
@import url(./normalize.css);

/* 숨김 콘텐츠 */
.a11y-hidden {
    background-color: red;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    visibility: hidden;
    clip: rect(0, 0, 0, 0);
    /* clip-path: polygon(0 0, 0 0, 0 0); */
    clip-path: inset(50%);
}

/* 스타일 초기화 */
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: blue;
}

a:focus {
    color: green;
}

html {
    /* 기본은 16이지만 rem사용 편의를 위해 10으로 설정 */
    font-size: 10px;
}

body {
    font-family: 'Spoqa Han Sans', 'sans-serif';
    font-weight: 400;
    background-color: #fff;
    color: #181818;
    font-size: 1.4rem;
    /* 14px */
}


/* *로 하는 것보다 성능이 개선된다. body안에 포함되어 있는 모든 요소 (head안에 선택은 안할 것이다.) before, after 이유는 혹시 모를 상황 즉, container와 body 사이의 공간에 무언가 내용이 들어가는 상황을 위한 것이다.*/
body *,
body *::before,
body *::after {
    box-sizing: border-box;
}

/* 다른 방법(클래스가 있는 것만 바꾸기
[class] {
    box-sizing: border-box;
} */

/* 레이아웃 */
.container {
    background-color: silver;
}

.header,
.visual,
.main,
.slogan,
.footer-inner {
    width: 940px;
    margin: 0 auto;
}

/* 헤더 */
.header {
    background-color: #fff;
    /* logo의 기준을 정해줌 */
    position: relative;
    
    border-radius: 0 0 15px 15px;
    padding: 0 30px;
}

/* 로고 */
.logo {
    position: absolute;
    margin-top: 0;
    /* h1은 자동으로 여백이 들어가있어서 초기화 */
    margin-bottom: 0;
    top: 45px;
    left: 65px;
    z-index: 10;
}

.logo a {
    display: block;
}

.logo img {
    vertical-align: middle;
}

/* 안내 링크 */
.member {
    margin: 0;
    padding-left: 0;
    list-style: none;
    color: red;
    font-size: 0;
    /* 이 것을 상속 시켜줌으로써 <span> 사이의 공백을 없애준다. */
    text-align: right;
    padding-top: 2px;
    /* 왜 a태그에 8px 주고 여기에 2px 줬나? Outline 때문! */
    padding-bottom: 2px;

    /* UI 착시효과 만들기 */
    position: relative;
    left: 10px;
}

.member li {
    /* background-color: yellow; */
    display: inline-block;
    font-size: 14px;
}

.member a {
    display: inline-block;
    /* padding-top: 8px;
    padding-bottom: 8px; a태그의 범위를 넓혀줌(사용성 증가) */
    padding: 8px 10px;
    text-transform: uppercase;
}

.navigation {
    padding-bottom: 40px;
}

.menu {
    background-color: orange;
    /* background-image: linear-gradient(to bottom, orangered 0%, orange 35%, orange 70%, orangered 100%); *//*generator 툴 사용하지 않았을 때*/ 
    background: #ff4500; /* gradient적용되지 않을 때 */
    background: linear-gradient(to bottom, #ff4500 0%,#ffa500 45%,#ffa500 60%,#ff4500 100%);
    padding-left: 225px;
    margin: 0;
    list-style: none;
    box-shadow: 0 -2px 0 0 #000; /* border를 넣지 않고 그림자를 사용 */
    /* border-top: 2px solid #000; */

    border-radius: 0 0 5px 5px;
    height: 45px;

    position: relative;
}

.menu :focus {
    outline: 0;
}

.menu-item {
    position: relative;
    float: left;
    border-left: 2px solid #fff;
}

.menu-button {
    display: block;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 0 20px;
    line-height: 45px;
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
}

.menu-act .menu-button {
    color: #ff0;
}

/* menu에 검은 줄 */
.menu-act .menu-button::after { 
    content: "";
    display: block;
    border-top: 2px solid #000;
}

.sub-menu {
    padding-left: 0;
    margin: 0;
    list-style: none;
    display: none;
    position: absolute;
    top:47px;
    /* width: 500px; */
    white-space: nowrap;
}

.sub-menu li, .sub-menu a {
    display: inline-block;
}

.sub-menu a {
    padding: 10px 10px 10px 0;
}

.sub-menu1, .sub-menu2, .sub-menu3{
    left: 0;
}


.sub-menu4, .sub-menu5, .sub-menu6 {
    right: 0;
}

.sub-menu1 {
    display: block;
}

.visual {
    background-color: lime;
    height: 10vh;
}

.main {
    background-color: blue;
    display: flow-root;
    padding: 30px 15px;
    /* padding: 30px;  
    display: flex; flex로 하는 방법
    justify-content: space-between; */
    /* overflow: hidden; */
}

.group {
    height: 60vh;
    float: left;
    margin: 0 15px;
}

.main::after {
    content: "";
    clear: both;
    display: block;
}

.group1 {
    background-color: pink;
    width: 250px;
    float: right;
}

.group2 {
    background-color: skyblue;
    width: 380px;
}

.group3 {
    background-color: orange;
    width: 190px;
}

.slogan {
    background-color: purple;
    height: 10vh;
}

.footer {
    background-color: tomato;
}

.footer-inner {
    background-color: gray;
    height: 10vh;
}